.styles {
  display: flex;
  flex-gap: 20px;
  flex-direction: column; 
  justify-content: conter;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: '#CCC';
  color: '#F5F5F5';
}

.styles a {
  font-size: 50px;
}